@model MotorPolicy.Models.tblPolicies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tblPolicies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtePolicyEffectiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtePolicyEffectiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtePolicyExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtePolicyExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.curTotalPolicyCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.curTotalPolicyCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lngPayerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lngPayerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dteLastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dteLastUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.memAdditionalInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.memAdditionalInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.strPolicyReferenceNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
